body{
  -webkit-text-size-adjust: 100%;
}

p {
line-height: 1.8;
color: #333;
}

@media screen and (min-width: 320px) {
button {
cursor: pointer;
}

a {
text-decoration: none;

&:hover {
opacity: 0.8;
}
}

/*ーーーーーtopーーーーー*/

.bar {
padding: 20px 30px;
}

h1 {
color: #3D8B86;
letter-spacing: .1em;
font-size: 1.4em;
}

.top {
width: 75%;
height: 500px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;

div {
width: 50%;
}

h2 {
color: #3D8B86;
font-size: 2.3em;
letter-spacing: .1em;
}

p {
margin: 20px 0 40px;
}

img {
width: 350px;
}

button {
width: 200px;
background: #D96D09;
color: #fff;
border: none;
border-radius: 10px;
padding: 20px 0;
font-weight: 800;
}
}

/*ーーーーーmainーーーーー*/

.main {
width: 80%;
margin: 120px auto;
}

.main_contents01, .main_contents02, .main_contents03 {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 90px;
}

.main_contents01 {
div {
width: 25%;
}

img {
width: 100%;
}

h3 {
color: #3D8B86;
font-size: 1.5em;
text-align: center;
letter-spacing: .1em;
margin: 15px auto;
}
}

.main_contents02 div, .main_contents03 div {
width: 55%;
}

.main_contents02 h3, .main_contents03 h3 {
color: #3D8B86;
font-size: 1.8em;
letter-spacing: .1em;
margin: 15px auto;
}

.main_contents02 img, .main_contents03 img {
width: 35%;
}

/*ーーーーーfooterーーーーー*/

footer {
background: #3D8B86;
padding: 50px 0 140px;

h2 {
font-weight: 800;
font-size: 1.3em;
text-align: center;
margin-bottom: 70px;
color: #fff;
}
}

.form {
width: 70%;
margin: 0 auto 0 10%;

div {
display: flex;
justify-content: center;
align-content: flex-start;
align-items: center;
margin-bottom: 30px;
}

p {
line-height: 0;
text-align: right;
width: 20%;
margin-right: 20px;
color: #fff;
}
}

input {
border: none;
border-radius: 10px;
height: 40px;
width: 80%;
background: #fff;
}

textarea {
border: none;
border-radius: 10px;
height: 150px;
width: 80%;
background: #fff;
}

.form button {
width: 200px;
background: #D96D09;
color: #fff;
border: none;
border-radius: 10px;
padding: 20px 0;
font-weight: 800;
float: right;
}
}

@media screen and (min-width: 320px) and (max-width: 750px) {
/*ーーーーーtopーーーーー*/

.bar {
padding: 10px 30px;
height: 120px;
}

h1 {
font-size: 1.6em;
}

.top {
width: 100%;
display: flex;
flex-direction: column-reverse;
height: auto;

div {
width: 80%;
}

h2 {
font-size: 2.4em;
text-align: center;
margin-top: 20px;
}

p {
margin: 20px 0 40px;
}

img {
width: 50%;
}

button {
display: block;
margin: 0 auto;
width: 80%;
padding: 20px 0;
font-size: 0.9em;
}
}

/*ーーーーーmainーーーーー*/

.main {
width: 85%;
margin: 120px auto;
}

.main_contents01, .main_contents02 {
flex-direction: column;
}

.main_contents03 {
flex-direction: column-reverse;
}

.main_contents01 {
div {
width: 90%;
margin-bottom: 60px;
}

img {
width: 70%;
margin: 0 auto;
display: block;
}

h3 {
font-size: 1.8em;
margin: 15px auto;
}
}

.main_contents02 h3, .main_contents03 h3 {
font-size: 1.8em;
margin: 15px auto;
}

.main_contents02 div, .main_contents03 div {
width: 90%;
}

.main_contents02 img, .main_contents03 img {
width: 70%;
}

/*ーーーーーfooterーーーーー*/

footer {
padding: 40px 0 80px;
}

.form {
width: 80%;
margin: 0 auto;

div {
display: flex;
flex-direction: column;
margin-bottom: 30px;
align-items: center;
}

p {
line-height: 1.8;
text-align: center;
width: 100%;
margin: 0 0 5px;
}
}

input, textarea {
width: 100%;
}

.form button {
display: block;
margin: 0 auto;
width: 80%;
float: none;
font-size: 0.9em;
}
}